/* Import font family */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

/* Déclaration variables */
:root {
  /*    background: rgb(255,255,255); */
  --linear-gradient-player-1: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(1, 24, 29) 50%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  --linear-gradient-player-2: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(1, 24, 29) 50%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );

  --color-orange: #d64444;
  --color-yellow: #fcf00d;
  --color-grey: #7e8d85;
  --color-light-grey: #f0ece7;
}
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-family: "Lato", sans-serif;
  color: var(--color-light-grey);
  background-color: #000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h1 {
  font-size: 2rem !important;
  letter-spacing: 0.39rem;
  font-weight: 900;
  color: var(--color-grey);
  text-shadow: 0.1rem 0.1rem 0.3rem rgb(0, 0, 0),
    -0.1rem -0.1rem 0.3rem #f8f7ff59;
}
.new-game-action,
#roll-action,
#hold-action {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--color-yellow);
  cursor: pointer;
}
#label-player-1,
#label-player-2 {
  color: var(--color-grey);
  font-size: 1.8rem;
  font-weight: 300;
}
#score-player-1,
#score-player-2 {
  font-size: 4rem;
  color: var(--color-orange);
  font-weight: 300;
}

.current-wrapper {
  width: 7.8rem;
  min-height: 5.3rem;
  background-color: var(--color-orange);
  border-radius: 1.9rem;
  background: #1d1f214f;
  box-shadow: 0.4rem 0.4rem 0.9rem #000, -0.4rem -0.4rem 0.9rem #9590c42a;
}

.current-label {
  color: var(--color-grey);
}

#current-score-p1,
#current-score-p2 {
  font-size: 1.5rem;
  font-weight: 300;
}

.bi {
  color: var(--color-orange);
}

/* Modal */
.modal-title {
  color: var(--color-yellow);
  font-weight: 300;
}
.modal-header {
  border-bottom-color: var(--color-grey);
}
.modal-footer {
  border-top: none;
}
/* Modal close button */
.btn-close {
  filter: invert(97%) sepia(2%) saturate(667%) hue-rotate(346deg)
    brightness(101%) contrast(88%);
  opacity: 1;
}

/* Classes below  used to change bg according to the player */
.bg-player-1 {
  background: var(--linear-gradient-player-1);
}
.bg-player-2 {
  background: var(--linear-gradient-player-2);
}

/* Dice effect */
.dice-wrapper {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  margin: 80px;
  perspective: 400px;
}

i[class*=" bi-dice"] {
  font-size: 100px;
  filter: invert(59%) sepia(14%) saturate(239%) hue-rotate(95deg)
    brightness(10%) contrast(84%);
}

.dice {
  width: 100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 0.55s cubic-bezier(0.23, -0.7, 0.7, 1.2);
}

.dice__face {
  position: relative;
  transition: border 0.8s, box-shadow 0.8s;
  border: 3px solid var(--color-light-grey);
  overflow: hidden;
  position: absolute;
  width: 100px;
  height: 100px;
}
.dice__face::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 3px solid rgba(117, 117, 117, 0.73);
  background: linear-gradient(145deg, #1c1d1c3b, #87978e73);
  box-shadow: 10px 10px 30px #232423, -10px -10px 30px #2a2b2b;
}

div[class*=" dice__face"] {
  background: var(--color-light-grey);
}

.dice__face--1 {
  transform: rotateY(0deg) translateZ(50px);
}
.dice__face--2 {
  transform: rotateY(-90deg) translateZ(50px);
}
.dice__face--3 {
  transform: rotateX(90deg) translateZ(50px);
}
.dice__face--4 {
  transform: rotateX(-90deg) translateZ(50px);
}
.dice__face--5 {
  transform: rotateY(90deg) translateZ(50px);
}
.dice__face--6 {
  transform: rotateY(180deg) translateZ(50px);
}

.dice.show-1 {
  transform: translateZ(-50px) rotateY(0deg);
}
.dice.show-2 {
  transform: translateZ(-50px) rotateY(90deg);
}
.dice.show-3 {
  transform: translateZ(-50px) rotateX(-90deg);
}
.dice.show-4 {
  transform: translateZ(-50px) rotateX(450deg);
}
.dice.show-5 {
  transform: translateZ(-50px) rotateY(-90deg);
}
.dice.show-6 {
  transform: translateZ(-50px) rotateY(-180deg);
}

/* Mediaduery */
@media screen and (min-width: 568px) {
  h1 {
    font-size: 2.8rem !important;
  }
  .new-game-action,
  #roll-action,
  #hold-action {
    font-size: 1.5rem;
  }
  #label-player-1,
  #label-player-2 {
    font-size: 2rem;
  }
  .current-wrapper {
    width: 10rem;
  }
  #score-player-1,
  #score-player-2 {
    font-size: 3rem;
  }
  #current-score-p1,
  #current-score-p2 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.8rem !important;
  }
  #label-player-1,
  #label-player-2 {
    font-size: 2.5rem;
  }
  #score-player-1,
  #score-player-2 {
    font-size: 4rem;
  }
}
